## Python Basics

[Coding Ninjas] (www.codingninjas.in)

In [7]:
a = 3
b = 2
a/b

1.5

In [8]:
a//b

1

In [9]:
a ** b

9

# Strings

In [10]:
a = "abc"
b = 'abc'

print(a)
print(b)

abc
abc

In [11]:
type(a)

str

In [12]:
type(b)

str

In [13]:
print(len(a))

3

In [14]:
a[0]

'a'

In [15]:
a[-1]

'c'

In [16]:
a[5]

IndexError: string index out of range

In [17]:
a = 's' + a[1:4]
print(a[:2])

sb

In [18]:
print(a[0:3])

sbc

In [19]:
print(a[:])

sbc

In [20]:
a[-1:]

'c'

In [22]:
a[-1:-3] #cant travekl backward

''

a.strip() # removes spaces and tabs

In [25]:
a = ' ' + a + ' '
print(a.upper())
print(a.strip())
print(a.isalpha())
print(a.isdigit())

   SBC
sbc
False
False

In [26]:
#split join
a = 'ab, cd, ef'
b = a.split(',')

In [27]:
b

['ab', ' cd', ' ef']

In [28]:
','.join(b)

'ab, cd, ef'

In [29]:
type(b)

list

In [30]:
d = ','.join(b)
d

'ab, cd, ef'

In [31]:
type(d)

str

In [34]:
#tuples and tuples are immutable
a = (1,2,3)

In [35]:
a

(1, 2, 3)

In [37]:
b = ('a','b',2,3,4,"hello")

In [38]:
b

('a', 'b', 2, 3, 4, 'hello')

In [39]:
type(b)

tuple

In [40]:
len(b)

6

In [43]:
#multiplying tuples would replicate that many times
print(a * 3)
11 in b

(1, 2, 3, 1, 2, 3, 1, 2, 3)

False

# List

In [44]:
a = [1,2,3,4, "hello"]
a

[1, 2, 3, 4, 'hello']

In [45]:
a[2]

3

In [54]:
for i in range(2, 10, 2):
    print(i)
    
    
a = [2*i for i in range(10)]
print(a)
a.insert(len(a), 1)
print(a)

2
4
6
8
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 1]

## Dictionary

In [61]:
dicti = {'abc' : 'def', (1,2,3) : 7} #keys shoud be immutable
dicti

{'abc': 'def', (1, 2, 3): 7}

In [64]:
dicti.values()

dict_values(['def', 7])