## Python Basics

[Coding Ninjas] (www.codingninjas.in)

In [7]:
a = 3
b = 2
a/b

1.5

In [8]:
a//b

1

In [9]:
a ** b

9

# Strings

In [10]:
a = "abc"
b = 'abc'

print(a)
print(b)

abc
abc

In [11]:
type(a)

str

In [12]:
type(b)

str

In [13]:
print(len(a))

3

In [14]:
a[0]

'a'

In [15]:
a[-1]

'c'

In [16]:
a[5]

IndexError: string index out of range

In [17]:
a = 's' + a[1:4]
print(a[:2])

sb

In [18]:
print(a[0:3])

sbc

In [19]:
print(a[:])

sbc

In [20]:
a[-1:]

'c'

In [22]:
a[-1:-3] #cant travekl backward

''

a.strip() # removes spaces and tabs

In [25]:
a = ' ' + a + ' '
print(a.upper())
print(a.strip())
print(a.isalpha())
print(a.isdigit())

   SBC
sbc
False
False

In [26]:
#split join
a = 'ab, cd, ef'
b = a.split(',')

In [27]:
b

['ab', ' cd', ' ef']

In [28]:
','.join(b)

'ab, cd, ef'

In [29]:
type(b)

list

In [30]:
d = ','.join(b)
d

'ab, cd, ef'

In [31]:
type(d)

str

In [34]:
#tuples and tuples are immutable
a = (1,2,3)

In [35]:
a

(1, 2, 3)

In [37]:
b = ('a','b',2,3,4,"hello")

In [38]:
b

('a', 'b', 2, 3, 4, 'hello')

In [39]:
type(b)

tuple

In [40]:
len(b)

6

In [43]:
#multiplying tuples would replicate that many times
print(a * 3)
11 in b

(1, 2, 3, 1, 2, 3, 1, 2, 3)

False

# List

In [44]:
a = [1,2,3,4, "hello"]
a

[1, 2, 3, 4, 'hello']

In [45]:
a[2]

3

In [54]:
for i in range(2, 10, 2):
    print(i)
    
    
a = [2*i for i in range(10)]
print(a)
a.insert(len(a), 1)
print(a)

2
4
6
8
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 1]

## Dictionary

In [61]:
dicti = {'abc' : 'def', (1,2,3) : 7} #keys shoud be immutable
dicti

{'abc': 'def', (1, 2, 3): 7}

In [64]:
dicti.values()

dict_values(['def', 7])

In [66]:
str(dicti)

"{'abc': 'def', (1, 2, 3): 7}"

In [67]:
string = str(dicti)

In [68]:
string

"{'abc': 'def', (1, 2, 3): 7}"

In [69]:
n = int(input("Enter a number : "))

for i in range(n):
    print(i)

Enter a number : 5
0
1
2
3
4

In [70]:
i = 0

while(i < n):
    i = i+0.5
    print(i)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

# Coding Problems

### Q. Check for Prime

In [74]:
s = "abc"
u = s.upper()
print(s)
print(u)

abc
ABC

In [75]:
"abcd"[2:]

'cd'

In [77]:
a, b, c = 1, 2, 3

In [78]:
a

1

In [79]:
b

2

In [80]:
a = 1,00,000

In [81]:
a

(1, 0, 0)

In [82]:
a_b_c = 1,00,000

In [83]:
a_b_c

(1, 0, 0)

In [84]:
list1 = list([1,2,3])

In [85]:
list1

[1, 2, 3]

In [87]:
list([1,2,3])

[1, 2, 3]

In [88]:
list1 = list()

In [89]:
list1

[]

In [90]:
list1 = []

In [91]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [93]:
d1 = {'john' : 4, 'peter': 3}
d2 = {'john' : 7, 'peter': 6}
'john' in d
print(d1 == d2)

False

In [95]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
     print('D')

B

In [96]:
i = 0
while i < 3:
    print(i, end=" ")
    i += 1

0 1 2

In [97]:
x = 'abcd'
for i in range(len(x)):
    print(x)
    x = 'a'

abcd
a
a
a

In [98]:
x

'a'

In [103]:
x = [1,2,3,4]

In [105]:
print(x.reverse())

None

In [106]:
x.reverse()

In [107]:
x

[4, 3, 2, 1]

In [152]:

# Reverse of a string

string = input()

list1 = list(string)

list1.reverse()

string = ""

for i in range(len(list1)):
    string = string + list1[i]


#print(string)
list1 = string.split()    
#print(list1)
list1.reverse()

#print(list1)

print(' '.join(list1))

abc def 32
cba fed 23

In [125]:
x = 50
def change(x):
    x = 2
change(x)
print(x)

50

In [148]:
#Pattern

n = int(input())

i = 1
value = 1
loopUpto = (n+1) // 2
remain = n - loopUpto

print(loopUpto)

while(i <= loopUpto):
    col = 1
    while(col <= n):
        print(value, end = ' ')
        value += 1
        
        col += 1
    
    print('\n')
    value += n
    
    i += 1
    

i = 1

value -= n
#print(value)

while(i <= remain):
    value -= (10 * i)
    
    #print(value)
    col = 1
    while(col <= n):
        print(value, end = ' ')
        value += 1
        
        col += 1
    
    print('\n')
    i += 1

5
3
1 2 3 4 5

11 12 13 14 15

21 22 23 24 25

16 17 18 19 20

1 2 3 4 5

In [133]:
6 // 2

3

In [153]:
#swap

a = 3
b = 2

print(a , b)
a, b = b, a
print(a , b)

3 2
2 3

In [154]:
def sq(a, b):
    return a * a, b * b

a = sq(4, 5)[0] #it returns a tuple and can be accessed using indices

a

16

In [155]:
def sum1(a, b, *other): #other is tuple
    
    print(other)
    
sum1(1, 2, 3, 4)

(3, 4)

In [ ]:

 
matrix = [[i for i in range(n)] for j in range(m)]